<%- include header %>

<div class="content-section-a otherpage">
	<div class="container">
		<div class="row">
            <div class="col-lg-5 col-sm-6 notelist">
                <div class="clearfix"></div>
				<h2 class="section-heading">关于我们</h2>
                <p class="lead">这是一个好用的在线笔记本平台，保证您的隐私不受侵犯。我们致力于用户提供优质服务。</p>
				<p class="lead">地址：北京市大兴工业开发区金苑路24号北京大学软件与微电子学院</p>
				<p class="lead">Email：paulzhang0809@pku.edu.cn</p>
			</div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 notelistpic">
                <img class="img-responsive" src="img/goldman.png" alt="小金人图片">
            </div>
        </div>
    </div>
</div>

<%- include footer %>