<%- include header %>

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>在线笔记本</h1>
                    <h3>一个好用的日志写作平台</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>

<%- include footer %>